name: containers
on:
  workflow_call:
    inputs:
      fedora_branch:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      fedora_branch:
        type: choice
        description: 'fedora branch'
        required: true
        options:
          - '42'
          - '43'
          - 'rawhide'
        default: '42'
  push:
    paths:
      - 'desktops/**'

run-name: "containers: fedora ${{ inputs.fedora_branch || 42 }} ${{ github.event_name == 'push' && format(' | {0}', github.event.head_commit.message) || '' }}"

jobs:
  desktops:
    permissions:
      packages: write
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        device: [xiaomi-nabu, xiaomi-pipa, oneplus-sdm845, nothing-spacewar]
        desktop: [niri, sway, hyprland, cosmic]
    uses: pocketblue/pocketblue/.github/workflows/helper-build-container.yml@main
    with:
      from_registry: quay.io/pocketblue
      from_image: ${{ matrix.device }}-base
      from_tag: ${{ inputs.fedora_branch || 42 }}
      target_registry: ${{ vars.REGISTRY }}
      target_image: ${{ matrix.device }}-${{ matrix.desktop }}
      target_tag: ${{ inputs.fedora_branch || 42 }}-test
      context: desktops/${{ matrix.desktop }}
      rechunk: true
